pip-tools
ipython
#jupyterlab
#jupyter-resource-usage
#lckr-jupyterlab-variableinspector
pandas
numpy<2
matplotlib
  pyqt6
plotly
seaborn
statsmodels
scipy
sympy
scikit-learn
  joblib
opendatasets
pyarrow  # parquet
traceml
imbalanced-learn
ydata-profiling
ipywidgets
xgboost
lightgbm
optuna
mlxtend
hyperopt
darts
  prophet

# Module 6
langchain
  numexpr
langchain_openai
huggingface_hub
openai
google-search-results
langchain-community
langchain-huggingface
langchain-tavily
langchain_experimental
langchain_community
duckduckgo_search
langgraph
nltk